<!--COVER-->
<header>
	<div class="container-fluid">
		<div class="row">
			<div class="header-text">
				<h1 id="coimbraHeading">
					Coimbra Walks
				</h1>
					<p>XXX/p>
			</div>
		</div>
	</div>
</header>