<!--COVER-->
<header id="coimbra_cover" class="cover-background">
	<div class="container-fluid">
		<div class="row">
			<div class="header-text">
				<h1>Coimbra Walks</h1>
					<p>XXX/p>
			</div>
		</div>
	</div>
</header>

<section id="">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">			
				<p>Our Walks</p>
			</div>
		</div>

        <div class="row">
            
            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <a href="#">
                        <div class="photo-item">
                            <img src="/images/index/cbr_2.JPG" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>The pack, the basic...</p>  
                            </div> 
                        
                        </div>
                        <div class="overlay-info">
                            <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <a href="#">
                        <div class="photo-item">
                            <img src="/images/index/cbr_2.JPG" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>The pack, the basic...</p>  
                            </div> 
                        
                        </div>
                        <div class="overlay-info">
                            <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <a href="#">
                        <div class="photo-item">
                            <img src="/images/index/cbr_2.JPG" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>The pack, the basic...</p>  
                            </div> 
                        
                        </div>
                        <div class="overlay-info">
                            <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>

        </div>
     
        <div class="row">
            
            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <a href="#">
                        <div class="photo-item">
                            <img src="/images/index/cbr_2.JPG" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>The pack, the basic...</p>  
                            </div> 
                        
                        </div>
                        <div class="overlay-info">
                            <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <a href="#">
                        <div class="photo-item">
                            <img src="/images/index/cbr_2.JPG" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>The pack, the basic...</p>  
                            </div> 
                        
                        </div>
                        <div class="overlay-info">
                            <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <a href="#">
                        <div class="photo-item">
                            <img src="/images/index/cbr_2.JPG" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>The pack, the basic...</p>  
                            </div> 
                        
                        </div>
                        <div class="overlay-info">
                            <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">
            
            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <a href="#">
                        <div class="photo-item">
                            <img src="/images/index/cbr_2.JPG" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>The pack, the basic...</p>  
                            </div> 
                        
                        </div>
                        <div class="overlay-info">
                            <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <a href="#">
                        <div class="photo-item">
                            <img src="/images/index/cbr_2.JPG" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>The pack, the basic...</p>  
                            </div> 
                        
                        </div>
                        <div class="overlay-info">
                            <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <a href="#">
                        <div class="photo-item">
                            <img src="/images/index/cbr_2.JPG" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>The pack, the basic...</p>  
                            </div> 
                        
                        </div>
                        <div class="overlay-info">
                            <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="darkBG" id="reservations">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><%= t('reservations.title') %></h2>
                <hr>
                
                <p><%= t('reservations.text') %></p>

                <h3>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:booking@gowalksportugal.com"> booking@gowalksportugal.com</a>
                </h3>
                <h3>
                    <i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351910163118"> +351 910 163 118</a>
                </h3>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center social-media">
                <div class="row">

                <ul class="list-inline banner-social-buttons">
                    <li class="social-link">
                        <a href="https://www.facebook.com/pg/GOwalks" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li class="social-link">
                        <a href="https://www.instagram.com/gowalksportugal/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                    </li>
                    <li class="social-link">
                        <a href="https://www.tripadvisor.com.br/Attraction_Review-g189143-d3326794-Reviews-GOwalksportugal-Coimbra_Coimbra_District_Central_Portugal.html" class="btn btn-default btn-lg"><i class="fa fa-tripadvisor fa-fw"></i> <span class="network-name">Tripadvisor</span></a>
                    </li>
                </ul>
            </div>
            </div>
        </div>

    </div>
</section>
