<!--COVER-->
<header id="faq-cover" class="cover-background-small">
    <div class="container-fluid transparent-layer">
        <div class="row breakwords special-text-size">
            <div class="header-text">
                <h1> 
					<%= t('general.faq') %>
                </h1>
            </div>
        </div>

    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h5> 
                    <%= t('general.soon') %>
                </h5>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid hidden">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	<h2>Frequently asked questions!</h2>

            	<h3>TOURS & SIGHTSEEING</h3>

            	<ul class="nostyle">
            		<li>
            			<p>
            				<b>How should I complete my reservation? </b><br>
            				You must contact us in advance and let us know that you want to make a tour with us. If you don’t have the opportunity to contact us previously, you can call us and ask if we’re available for the same day. You must tell us your preferred day for the tour, schedule, theme and how many people will be joining.
            			</p>
            		</li>
            		<li>
            			<p>
            				<b>Why is it necessary to do a pre-payment for the “Tours & Sightseeing” and why do you have a no-refund policy?</b><br>
            				Once you tell us you want to visit Coimbra alongside us, we will be totally available to welcome you and will eventually refuse the following requests for tours at the same schedule. Because we’re fully commited to our work and in welcoming you, we ask your understanding for the no-refund policy!
            			</p>
            		</li>
            		<li>
            			<p>
            				<b>How can I pay? </b><br>
            				We use a paypal account. We will send you a money request so you can easily do your payment in a quick and safe way!
            			</p>
            		</li>
            		<li>
            			<p>
            				<b>How do the FULL DAY tours work? </b><br>
            				We can create a route based on your personal interests or we can combine themes. For example: World Heritage Tour (UWH) in the morning and “Riverside and Tales of Love” in the afternoon!
            			</p>
            		</li>
            		<li>
            			<p>
            				<b>What can we take with us for the tour?</b><br>
                            Comfortable shoes and clothes! In the summer don’t forget to protect yourself with glasses, hat and sunscreen. Take a bottle of fresh water with you, and we will refil it during the visit in strategic places.
            			</p>
            		</li>
            		<li>
            			<p>
            				<b>Why don’t we visit the city by bus or taxi?</b><br>
                            Coimbra is a medieval city and, in its historical center, most streets are only pedestrian and it’s not allowed for cars to drive there. In these small alleys it will be possible to discover hidden “secrets” and “treasures” and no-way-out streets that only with our help you can figure out! We’re going to walk slowly and appreciate the landscape and our culture in between the downtown and uptown Coimbra. Our city has more charm walking! If you have mobility issues you can ask us – in advance – to adapt the visit in order to include transportation so we can combine both worlds (walking + transportation)!
            			</p>
            		</li>
            	</ul>

				<p><i>….. more questions and answers soon!</i></p>
            </div>
        </div>
    </div>
</section>

