<!--COVER-->
<header id="faq-cover" class="cover-background-small">
    <div class="container-fluid transparent-layer">
        <div class="row breakwords special-text-size">
            <div class="header-text">
                <h1> 
					<%= t('general.faq') %>
                </h1>
            </div>
        </div>

    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h5> 
                    <%= t('general.soon') %>
                </h5>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid hidden">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	<h2>Perguntas frequentes!</h2>

            	<h3>TOURS & SIGHTSEEING</h3>

            	<ul class="nostyle">
                    <li>
                        <p>
                            <b>Como devo efectuar a minha reserva?</b><br>
                            Deverá contactar-nos com a maior antecedência possível indicando que pretende fazer visita connosco. Se não teve oportunidade de nos contactar com antecedência, poderá telefonar-nos para indagar a nossa disponibilidade no próprio dia. Deverá indicar o dia pretendido para a visita, horário, nr. de participantes e temática.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Porque é necessário efectuar pré-pagamento para completar as reservas das “Tours & Sightseeing” e não há reembolsos?</b><br>
                            Uma vez manifestada a intenção de efectuar uma visita personalizada na nossa companhia, ficamos totalmente disponíveis para o receber e iremos recusar eventuais pedidos que surjam para o mesmo horário. Porque estamos altamente comprometidos com o nosso trabalho e em recebê-lo, pedimos a sua compreensão na nossa política de reembolsos!
                        </p>
                    </li>
                    <li>
                        <p>
                            <b> Como efectuar pagamentos?</b><br>
                            Utilizamos conta paypal. Iremos enviar-lhe um pedido de pagamento. Constatará que se trata de uma forma de pagamento rápida, segura e fácil!
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Como funcionam as visitas de dia inteiro?</b><br>
                            Podemos elaborar um roteiro baseado nos seus gostos pessoais, ou poderá conjugar temáticas. Por exemplo: “Património Mundial (UWH)” de manhã e “Beira Rio e Lendas de Amor” de tarde!
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Que levar para a visita?</b><br>
                            Roupa e calçado confortável! No Verão não se esqueça de se proteger do sol com óculos e chapéu/boné e protector solar. Leve ainda uma garrafa de água fresca, que poderemos encher durante a visita em locais estratégicos.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Porque não vamos de carro, autocarro ou taxi? </b><br>
                            Coimbra é uma cidade que, no seu centro histórico, tem ruas interditas a trânsito e bastante estreitas, “segredos” e “tesouros” escondidos em lugares recônditos e becos-sem-saída que só a pé podemos alcançar! Vamos caminhar com calma, parar várias vezes pelo caminho para apreciar a paisagem e aprender sobre a nossa cultura… Apesar das subidas e descidas Coimbra tem muito mais encanto a pé! Contudo, se tiver dificuldades de mobilidade, poderá pedir-nos antecipadamente a adaptação da visita a transporte, que poderemos conjugar com parte do percurso a pé.
                        </p>
                    </li>
            	</ul>

                <p><i>….. mais perguntas e respostas em breve!</i></p>

                <p><b>Att: Centro de arbitragem (informação legal) –</b> Na eventualidade de um litigio o consumidor pode recorrer ao Centro de Arbitragem de Conflitos de Consumo do Distrito de Coimbra, com sítio em http://www.centrodearbitragemdecoimbra.com e sede em Av. Fernão Magalhães, N.º 240, 1º, 3000-172 – Coimbra.</p>
            </div>
        </div>
    </div>
</section>

