<!--COVER-->
<header id="partners-cover" class="cover-background-small">
    <div class="container-fluid transparent-layer">
        <div class="row breakwords special-text-size">
            <div class="header-text">
                <h1> 
					<%= t('general.partners') %>
                </h1>
            </div>
        </div>

    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h5> 
                    <%= t('general.soon') %>
                </h5>
            </div>
        </div>
    </div>
</section>
