<!--COVER-->
<header id="partners-cover" class="cover-background">
    <div class="container-fluid transparent-layer">
        <div class="row breakwords special-text-size">
            <div class="header-text">
                <h1> 
					<%= t('general.partners') %>
                </h1>
                <hr class="orange">
                <h5> 
					<%= t('general.partners_sub') %>
                </h5>
            </div>
        </div>
        <div class="row arrow">
            <a class="page-scroll" href="" data-turbolinks="false">
                <h3><i class="fa fa-angle-down fa-5x"></i></h3>
            </a></li>
        </div>
    </div>
</header>
