<% about = {
    text_pt: "As GOwalksportugal nasceram em 2012, pelas mãos de Sara Cruz – nascida e criada em Coimbra - com o intuíto de promover o Património Português.

    Apesar da conjuntura económica do país nessa altura, e com dificuldades em conseguir um contrato na sua área de conhecimentos devido à falta de oportunidades de trabalho, Sara Cruz – na altura com 26 anos de idade e formada desde 2008 em Turismo, Lazer e Património pela Faculdade de Letras da Universidade de Coimbra - decidiu arriscar investindo todas as suas poupanças para abrir uma empresa na área da Animação Turística, que lhe permitisse fazer o que mais gostava: dar a conhecer a cidade aos seus visitantes.

    Nos primeiros três anos de trabalho foram desenvolvidos diversos percursos temáticos em Coimbra, sempre com o sonho de ver as pessoas que visitavam esta cidade permanecer aqui mais tempo. Surgiram assim os percursos que podem encontrar em 'COIMBRA WALKS'!

    Foram ainda criadas parcerias com vários negócios locais para complementar esta oferta, que pudessem proporcionar ainda aos nossos clientes diversas vantagens! Estes são negócios que adoramos – pela sua história, estórias, e pessoas envolvidas - e frequentamos enquanto habitantes locais! Podem consultar essa informação em 'PARCEIROS'.

    Aquando da celebração dos 5 anos de existência das GOwalksportugal, em Maio de 2017, decidiu-se adquirir uma viatura de 7 lugares que permitiu complementar os serviços já existentes, atender a pedidos de pessoas com mobilidade reduzida, levar a empresa e colaboradores a certames de turismo e reuniões, e – enfim – alargar a oferta de visitas guiadas a toda a Região Centro de Portugal!

    Foram assim disponibizadas visitas de meio-dia, com roteiros a decorrer num raio de 50km de Coimbra. Mas a Região Centro é tão completa e há tantos outros sítios que não podíamos deixar de fora dos nossos roteiros... por isso foram desenvolvidos ainda roteiros para visitas guiadas de dia-completo que podem consultar em 'TOURS DESDE COIMBRA'!

    Como não nos queremos ficar por aqui, e há tantos outros locais para conhecer e experiências para viver no Centro de Portugal, oferecemos ainda visitas e experiências à medida dos nossos clientes as quais chamámos 'PERCURSOS PERSONALIZADOS'! Estes serviços permitem-nos ir ao encontro daquilo que os nossos clientes mais gostam, do tempo que dispõem ou até do orçamento disponível... para que se assegurem que não perdem nada do que há a viver e conhecer nesta região!

    Precisamente para poder dar um atendimento mais personalizado aos nossos clientes, sempre a pensar na promoção do Património Português, abrimos um espaço (inaugurado em Fevereiro de 2018) na Baixa de Coimbra! Decidimos chamar-lhe 'SÍTIO DO PATRIMÓNIO': não é uma loja, não é um escritório… é o nosso sítio! Aqui poderão obter informações sobre o que é tradicionalmente português; saber o que fazer e visitar na Região; reservar os nossos serviços de visitas guiadas; comprar bilhetes para experiências, espectáculos e workshops diversos; adquirir uma recordação 100% MADE IN PORTUGAL; imprimir e reservar bilhetes de avião/combóio/autocarro; embalar produtos em vácuo para facilitar o transporte… ou simplesmente armazenar bagagem enquanto visitam a cidade!

    Não queremos que percam absolutamente nada! E desejamos com isto continuar a trabalhar cada vez mais e melhor para vos receber no nosso país e proporcionar-vos momentos inesquecíveis, guiados por habitantes locais conhecedores e apaixonados pela nossa história e cultura local!",
    text_esp: "Las GOwalksportugal nacieron en 2012 por Sara Cruz - nacida y criada en Coimbra - com el objetivo de promover el Patrimonio Portugués.

A pesar de la coyuntura económica del país en ese año, y con dificultades en obtener un contrato de trabajo en su área de conocimientos debido a la falta de oportunidades de trabajo en Portugal, Sara - entonces con 26 años de edad y formada desde 2008 en Turismo Ocio e Patrimonio por la Facultad de Letras de la Universidad de Coimbra - decidió arriesgar invirtiendo todos sus ahorros para abrir na empresa de Animación Turística que le permitiera hacer lo que más le gustaba: dar a conocer la ciudad a los visitantes.

En los primeros tres años de trabajo se desarrollaron diversas rutas en Coimbra, siempre con el sueño de ver a las personas que visitaban esta ciudad quedaren aquí más tiempo. ¡Aparecieron así las rutas que pueden encontrar en 'COIMBRA WALKS'!

Fueran aún creadas asociaciones con varios negocios locales para complementar esta oferta e que pudiesen proporcionar varias vantajas a los clientes. ¡Estes son los negocios que adoramos - por su historia, historias y personas - y frequentamos mientras habitantes locales! Pueden consultar esta información en 'SOCIOS'.

En mayo de 2017 se celebró los cinco años de existencia de Gowalksportugal y se decidió comprar un coche de 7 lugares que permite complementar los servicios ya existentes, cumplir con las solicitudes de personas con mobilidad reducida, llevar la empresa y sus colaboradores a exposiciones de turismo y reuniones, y - finalmente- ¡para ampliar la oferta de visitas guiadas por toda la Región Centro de Portugal!

Así se realizaron visitas guiadas de medio día, con rutas a lo largo de un radio de 50km de Coimbra. Pero la Región Centro es tan completa y hay tantos otros locales que no podíamos dejar de incluir en nuestras rutas… ¡por eso se han desarrollado aún rutas de día completo que pueden consultar en 'TOURS DESDE COIMBRA'!
¡Como no queremos quedarnos por aquí, y hay tantos otros locales para conocer y experiencias para vivir en el Centro de Portugal, ofrecemos aún visitas y experiencias a la medida y gusto de nuestros clientes, a las cuales llamamos 'VIAJES A MEDIDA'! Estes servicios nos permiten ir al encuentro de lo que nuestros clientes más les gustan, del tiempo que disponen o del dinero disponible… ¡para que se aseguren que no pierden nada de lo que hay que vivir y conocer en esta región!

¡Precisamente para podermos atender de forma más personalizada nuestros clientes, y siempre a pensar en el Patrimonio Portugués, abrimos en febrero de 2018 un nuevo espacio en la Baja de Coimbra! Decidimos llamarlo de 'SITIO DEL PATRIMONIO': no es una tienda ni una oficina… ¡es el nuestro sitio! Aquí pueden obtener informaciones sobre lo que es tradicionalmente portugues; saber qué hacer y visitar en la Región; reservar nuestros servicios de visitas guiadas; comprar entradas para experiencias, espectáculos y talleres diversos; adquirir una memoria (souvenir/recuerdo) 100% MADE IN PORTUGAL; imprimir y reservar billetes de avión/tren/autobús; embalar productos al vacío para facilitar el transporte… ¡o simplemente almacenar las maletas mientras visitan la ciudad!
¡No queremos que pierdan absolutamente nada! Y deseamos con esto continuar trabajando cada vez más y mejor para recibirlos en nuestro país y proporcionarles momentos inolvidables, guiados por habitantes locales conocedores y apasionados por nuestra historia y cultura local.",
    text_en: "GOwalksportugal was born in 2012, by the hands of Sara Cruz - born and raised in Coimbra - with the intention of promoting Portuguese Heritage.

Despite the economic situation of the country at that time, and with difficulties in obtaining a contract in its area of knowledge due to the lack of job opportunities in Portugal, Sara Cruz - at the time 26 years old and graduated since 2008 in Tourism, Leisure and Heritage by the Faculty of Arts of the University of Coimbra - decided to risk investing all her savings to open a company in the area of Tourism Animation, which would allow her to do what she liked best: make the city known to its visitors.

In the first three years of work GOwalksportugal developed several thematic routes in Coimbra, always with the dream of seeing the people who visited this city stay here longer. These are the routes you can find today on 'COIMBRA WALKS'!

Partnerships with several local businesses were also created to complement this offer, which could still offer our customers several advantages! These are businesses we love - for their history, stories, and people involved - and that we frequent as locals! You can consult this information in 'PARTNERS'.

At the time of GOwalksportugal's five years of existence, in May 2017, it was decided to acquire a 7-seat car that allowed complementing existing services, meeting requests from people with reduced mobility, taking the company and employees to tourism fairs and meetings, and - finally - extend the offer of guided tours throughout the Central Region of Portugal!

This way half-day visits were created with itineraries running within a 50km radius of Coimbra, which can be consulted at 'COIMBRA WALKS'. But the Centro Region is so complete and there are so many other places that we could not miss out on our itineraries... so we have also developed itineraries for full day guided tours that can be consulted in 'TOURS FROM COIMBRA'!

As there are so many other places to know and experiences to live in the Center of Portugal, we also offer visits and experiences tailored to our clients which we call 'TAILORED TOURS'! These services allow us to meet what our customers like best, the time they have or even the budget available ... to ensure that they do not lose anything that there is to live and know in this region!

Precisely in order to provide a more personalized service to our clients, always thinking about promoting the Portuguese Heritage, we opened a space (inaugurated in February 2018) in the main pedestrian street of the Downtown of Coimbra! We decided to call it 'SÍTIO DO PATRIMÓNIO' (meaning Site of Heritage): it is not a store, it is not an office ... it is our site! Here you can get information about what is traditionally Portuguese; know what to do and visit in the Region; book our guided tours and services; buy tickets for various experiences, shows and workshops; acquire a souvenir 100% MADE IN PORTUGAL; print and book airline/train/bus tickets; pack products in vacuum for easy transportation... or simply store luggage while visiting the city!
    
We don’t want you to lose anything at all! And we want to continue working harder and better to welcome you in our country and provide you unforgettable moments, guided by locals who are knowledgeable and passionate about their local history and culture!",
}%>

<!--COVER-->
<header id="team-cover" class="cover-background-small">
    <div class="container-fluid transparent-layer">
        <div class="row breakwords special-text-size">
            <div class="header-text">
                <h1> 
					<%= t('general.team') %>
                </h1>
            </div>
        </div>

    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="about_us">
                    <% if I18n.locale == :pt %>
                        <%=raw about[:text_pt].gsub(/\n/, '<br/>') %>
                    <% elsif I18n.locale == :esp %>
                        <%=raw about[:text_esp].gsub(/\n/, '<br/>') %>
                    <% else %>
                        <%=raw about[:text_en].gsub(/\n/, '<br/>') %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>