<!--COVER-->
<header id="cover">
	<div class="container-fluid">
		<div class="row">
			<div class="header-text">
				<h1 id="homeHeading">
					Hi! Let's walk?
				</h1>
					<p>Combining the passion of walking while enjoying Portuguese culture, with a knowledgeable and enthusiastic inhabitant, we’ll guide you in an exciting journey through “Lusitania Lands” you’ll want to remember forever!</p>
			</div>
		</div>
	</div>
</header>

<section id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<img src="\images\gowalks_logo_mini.png" class="img-responsive center-block" alt="GOwalks logo">
					<p>Searching for authentic experiences in Portugal? We have the answers you're looking for! Guided Tours, Theme and Personalized Tours, Workshops and other leisure activities inspired in Portuguese Culture and Heritage... runned by locals!</p>
			</div>
		</div>
	</div>
</section>

<section class="lightBG" id="tours_intro">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="text-center">
					<h2 class="section-heading">
						Tours
					</h2>
					<hr class="dark">
					<p>Find out all about the <b>Great Opportunities</b> we provide:</p>
				</div>			
			</div>
		</div>
    </div>
</section>

	<section id="tours" class="lightBG no-padding">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-sm-4">
                    <a href="/tour/coimbra" class="image-box">
                        <h4 class="text-center"><b>Coimbra Walks</b></h4>
                        <img src="/images/index/cbr.jpg" class="img-responsive" alt="">
                        <div class="image-box-caption">
                            <div class="image-box-caption-content">
                                <div class="project-name">
                                    Coimbra Walks
                                </div>
                            </div>
                        </div>
                        <div class="image-box-after-text">
                            Thematic walking tours and activities that will introduce you – step by step – to the most charming city in Portugal: Coimbra!
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="/tour/around" class="image-box">
                        <h4 class="text-center"><b>Tours Around Coimbra</b></h4>
                        <img src="/images/index/around.jpg" class="img-responsive" alt="">
                        <div class="image-box-caption">
                            <div class="image-box-caption-content">
                                <div class="project-name">
                                    Tours Around Coimbra
                                </div>
                            </div>
                        </div>
                        <div class="image-box-after-text">
                            Enjoy unique cultural moments in central Portugal. Castles and Palaces, Schist or Medieval Villages, Roman Sites… and much more!
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="/tour/tailored" class="image-box">
                        <h4 class="text-center"><b>Tailored Tours</b></h4>
                        <img src="/images/index/tailored.jpg" class="img-responsive" alt="">
                        <div class="image-box-caption">
                            <div class="image-box-caption-content">
                                <div class="project-name">
                                    Tailored Tours
                                </div>
                            </div>
                        </div>
                        <div class="image-box-after-text">
                            Didn't find what you were looking for? We will help you build a tailored route throughout Lusitania Lands that you'll remember forever!
                        </div>
                    </a>
                </div>
            </div>
        </div>

</section>


