<!--COVER-->
<header id="cover">
	<div class="container-fluid">
		<div class="row">
			<div class="header-text">
				<h1 id="homeHeading">Olá! Vamos caminhar?</h1>
				
				<p>Combinando a paixão de caminhar com o desfrutar da cultura Portuguesa, pela mão de um habitante conhecedor e entusiasta, vamos guiar-te numa jornada excitante por terras Lusitânias, que vais querer lembrar para sempre!</p>
			</div>
		</div>
	</div>
</header>

<section id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<img src="\images\gowalks_logo_mini.png" class="img-responsive center-block" alt="GOwalks logo">
				
				<p>Procuras experiências autênticas em Portugal? Nós temos a solução! Visitas guiadas, Percursos Temáticos e Personalizados, Workshops e outras actividades de lazer inspiradas na Cultura e Património Portugueses... geridas por habitantes locais!</p>
			</div>
		</div>
	</div>
</section>

<section class="lightBG" id="tours_intro">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="text-center">
					<h2 class="section-heading">Percursos</h2>
					<hr class="dark">
					<p>Descobre as <b>Grandes Oportunidades</b> que temos para lhe oferecer:</p>
				</div>			
			</div>
		</div>
    </div>
</section>

<section id="tours" class="lightBG no-padding">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-sm-4">
                    <a href="/tour/coimbra" class="image-box">
                        <h4 class="text-center"><b>Coimbra Walks</b></h4>
                        <img src="/images/index/cbr.jpg" class="img-responsive" alt="">
                        <div class="image-box-caption">
                            <div class="image-box-caption-content">
                                <div class="project-name">
                                    Coimbra Walks
                                </div>
                                <div class="project-description">
                                    Visitas e actividades temáticas, individuais ou em grupo, que lhe permitirão conhecer passo a passo a mais charmosa cidade de Portugal: Coimbra!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="/tour/around" class="image-box">
                        <h4 class="text-center"><b>Tours desde Coimbra</b></h4>
                        <img src="/images/index/around.jpg" class="img-responsive" alt="">
                        <div class="image-box-caption">
                            <div class="image-box-caption-content">
                                <div class="project-name">
                                    Tours desde Coimbra
                                </div>
                                 <div class="project-description">
                                    Aprecie momentos culturais únicos no Centro de Portugal. Castelos e Palácios, Aldeias de Xisto ou Vilas Medievais, Vestígios Romanos e muito mais!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="/tour/tailored" class="image-box">
                        <h4 class="text-center"><b>Percursos Personalizados</b></h4>
                        <img src="/images/index/tailored.jpg" class="img-responsive" alt="">
                        <div class="image-box-caption">
                            <div class="image-box-caption-content">
                                <div class="project-name">
                                    Percursos Personalizados
                                </div>
                                <div class="project-description">
                                    Não encontrou o que procurava? Nós ajudamo-lo a construir um roteiro único por “Terras Lusas” que vai recordar para sempre!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
