<!--COVER-->
<header id="cover">
	<div class="container-fluid">
		<div class="row">
			<div class="header-text">
				<h1 id="homeHeading">Olá! Vamos caminhar?</h1>
				
				<p>Combinando a paixão de caminhar com o desfrutar da cultura Portuguesa, pela mão de um habitante conhecedor e entusiasta, vamos guiar-te numa jornada excitante por terras Lusitânias, que vais querer lembrar para sempre!</p>
			</div>
		</div>
	</div>
</header>

<section id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<img src="\images\gowalks_logo_mini.png" class="img-responsive center-block" alt="GOwalks logo">
				
				<p>Procuras experiências autênticas em Portugal? Nós temos a solução! Visitas guiadas, Percursos Temáticos e Personalizados, Workshops e outras actividades de lazer inspiradas na Cultura e Património Portugueses... geridas por habitantes locais!</p>
			</div>
		</div>
	</div>
</section>

<section class="lightBG" id="tours">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="text-center">
					<h2 class="section-heading">Percursos</h2>
					<hr class="dark">
					<p>Estas são as <b>Grandes Oportunidades</b> que lhe proporcionamos:</p>
				</div>			
			</div>
		</div>

	<div class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-sm-4">
                    <a href="/images/index/cbr.jpg" class="image-box">
                        <img src="/images/index/cbr.jpg" class="img-responsive" alt="">
                        <div class="image-box-caption">
                            <div class="image-box-caption-content">
                                <div class="project-category text-faded hidden">
                                    Category
                                </div>
                                <div class="project-name">
                                    Coimbra Walks
                                </div>
                            </div>
                        </div>
                        <div class="image-box-after-text text-center">
                            <h4><b>Coimbra Walks</b></h4>
                            Visitas e actividades temáticas, para individuais ou grupos, que lhe permitirão conhecer passo a passo a mais charmosa cidade de Portugal: Coimbra!
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="/images/index/around.jpg" class="image-box">
                        <img src="/images/index/around.jpg" class="img-responsive" alt="">
                        <div class="image-box-caption">
                            <div class="image-box-caption-content">
                                <div class="project-category text-faded hidden">
                                    Category
                                </div>
                                <div class="project-name">
                                    Percursos em torno de Coimbra
                                </div>
                            </div>
                        </div>
                        <div class="image-box-after-text text-center">
                            <h4><b>Percursos em torno de Coimbra</b></h4>
                            Aprecie momentos culturais únicos no Centro de Portugal. Castelos e Palácios, Aldeias de Xisto ou Vilas Medievais, Vestígios Romanos e muito mais!
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="/images/index/tailored.jpg" class="image-box">
                        <img src="/images/index/tailored.jpg" class="img-responsive" alt="">
                        <div class="image-box-caption">
                            <div class="image-box-caption-content">
                                <div class="project-category text-faded hidden">
                                    Category
                                </div>
                                <div class="project-name">
                                    Percursos Personalizados
                                </div>
                            </div>
                        </div>
                        <div class="image-box-after-text text-center">
                            <h4><b>Percursos Personalizados</b></h4>
                            Nãp encontrou o que procurava? Nós ajudamo-lo a construir um roteiro único por “Terras Lusas” que vai recordar para sempre!
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="darkBG" id="reservations">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Reservas</h2>
				<hr>

				<p>Para reservar um percurso, por favor contacte-nos através de:</p>

				<h3>
					<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:booking@gowalksportugal.com"> booking@gowalksportugal.com</a>
				</h3>
				<h3>
					<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351910163118"> +351 910 163 118</a>
				</h3>
			</div>

			<div class="col-lg-8 col-lg-offset-2 text-center social-media">
				<ul class="list-inline banner-social-buttons">
					<li class="social-link">
						<a href="https://www.facebook.com/pg/GOwalks" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
					</li>
					<li class="social-link">
						<a href="https://www.instagram.com/gowalksportugal/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
					</li>
					<li class="social-link">
						<a href="https://www.tripadvisor.com.br/Attraction_Review-g189143-d3326794-Reviews-GOwalksportugal-Coimbra_Coimbra_District_Central_Portugal.html" class="btn btn-default btn-lg"><i class="fa fa-tripadvisor fa-fw"></i> <span class="network-name">Tripadvisor</span></a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>
