<!--COVER-->
<header id="cover" class="cover-background">
	<div class="container-fluid">
		<div class="row">
			<div class="header-text">
				<h1 id="homeHeading">
					Hi! Let's walk?
				</h1>
					<p>Combining the passion of walking while enjoying Portuguese culture, with a knowledgeable and enthusiastic inhabitant, we’ll guide you in an exciting journey through “Lusitania Lands” you’ll want to remember forever!</p>
			</div>
		</div>
	</div>
</header>

<section id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<img src="\images\gowalks_logo_mini.png" class="img-responsive center-block" alt="GOwalks logo">
				<p>Searching for authentic experiences in Portugal? We have the answers you're looking for! Guided Tours, Theme and Personalized Tours, Workshops and other leisure activities inspired in Portuguese Culture and Heritage... runned by locals!</p>
                <p><i class="fa fa-angle-down fa-5x"></i></p>
			</div>
		</div>
	</div>
</section>

<section id="coimbra-tour" class="cover-background">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h1>
                    Coimbra Walks
                </h1>
                    <p>Fall in love – step by step – with the most charming city in Portugal: Coimbra!</p>
            </div>
        </div>
    </div>
</section>
<section id="around-coimbra-tour" class="cover-background">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h1>
                    Tours Around Coimbra
                </h1>
                    <p>Enjoy unique cultural moments in central Portugal. Castles and Palaces, Schist or Medieval Villages, Roman Sites… and much more!</p>
            </div>
        </div>
    </div>
</section>
<section id="tailored-tour" class="cover-background">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h1>
                    Tailored Tours
                </h1>
                    <p>Didn't find what you were looking for? We will help you build a tailored route throughout Lusitania Lands that you'll remember forever!</p>
            </div>
        </div>
    </div>
</section>

<section class="darkBG" id="reservations">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><%= t('reservations.title') %></h2>
                <hr>
                
                <p><%= t('reservations.text') %></p>

                <h3>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:booking@gowalksportugal.com"> booking@gowalksportugal.com</a>
                </h3>
                <h3>
                    <i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351910163118"> +351 910 163 118</a>
                </h3>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center social-media">
                <div class="row">

                <ul class="list-inline banner-social-buttons">
                    <li class="social-link">
                        <a href="https://www.facebook.com/pg/GOwalks" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li class="social-link">
                        <a href="https://www.instagram.com/gowalksportugal/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                    </li>
                    <li class="social-link">
                        <a href="https://www.tripadvisor.com.br/Attraction_Review-g189143-d3326794-Reviews-GOwalksportugal-Coimbra_Coimbra_District_Central_Portugal.html" class="btn btn-default btn-lg"><i class="fa fa-tripadvisor fa-fw"></i> <span class="network-name">Tripadvisor</span></a>
                    </li>
                </ul>
            </div>
            </div>
        </div>

    </div>
</section>
