<!--COVER-->
<header id="cover">
	<div class="header-content">
		<div class="header-text">
			<h1 id="homeHeading">
				Hi! Let's walk?
			</h1>
				<p>Combining the passion of walking while enjoying Portuguese culture, with a knowledgeable and enthusiastic inhabitant, we’ll guide you in an exciting journey through “Lusitania Lands” you’ll want to remember forever!</p>
		</div>
	</div>
</header>

<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<img src="\images\gowalks_logo_mini.png" class="img-responsive center-block" alt="GOwalks logo">
					<p>Searching for authentic experiences in Portugal? We have the answers you're looking for! Guided Tours, Theme and Personalized Tours, Workshops and other leisure activities inspired in Portuguese Culture and Heritage... runned by locals!</p>
			</div>
		</div>
	</div>
</section>

<section class="lightBG" id="tours">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="text-center">
					<h2 class="section-heading">
						Tours
					</h2>
				</div>			
			</div>
		</div>
	</div>
</section>

<section class="darkBG" id="reservations">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Reservations</h2>

				<p>To reserve a Walk, please contact us:</p>

				<h3>
					<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:booking@gowalksportugal.com"> booking@gowalksportugal.com</a>
				</h3>
				<h3>
					<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351910163118"> +351 910 163 118</a>
				</h3>
			</div>

			<div class="col-lg-8 col-lg-offset-2 text-center social-media">
				<ul class="list-inline banner-social-buttons">
					<li>
						<a href="https://www.facebook.com/pg/GOwalks" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
					</li>
					<li>
						<a href="https://www.instagram.com/gowalksportugal/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
					</li>
					<li>
						<a href="https://www.tripadvisor.com.br/Attraction_Review-g189143-d3326794-Reviews-GOwalksportugal-Coimbra_Coimbra_District_Central_Portugal.html" class="btn btn-default btn-lg"><i class="fa fa-tripadvisor fa-fw"></i> <span class="network-name">Tripadvisor</span></a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>
