<!--COVER-->
<header id="cover">
	<div class="header-content">
		<div class="header-text">
			<h1 id="homeHeading">
				<span class="english">Hi! Let's walk?</span>
				<span class="portugues">Olá! Vamos caminhar?</span>
			</h1>
			<span class="english">
				<p>Combining the passion of walking while enjoying Portuguese culture, with a knowledgeable and enthusiastic inhabitant, we’ll guide you in an exciting journey through “Lusitania Lands” you’ll want to remember forever!</p>
			</span>
			<span class="portugues">
				<p>Combinando a paixão de caminhar com o desfrutar da cultura Portuguesa, pela mão de um habitante conhecedor e entusiasta, vamos guiar-te numa jornada excitante por terras Lusitânias, que vais querer lembrar para sempre!</p>
			</span>
		</div>
	</div>
</header>

<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<img src="\images\gowalks_logo_mini.png" class="img-responsive center-block" alt="GOwalks logo">
				<span class="english">
					<p>Searching for authentic experiences in Portugal? We have the answers you're looking for! Guided Tours, Theme and Personalized Tours, Workshops and other leisure activities inspired in Portuguese Culture and Heritage... runned by locals!</p>
				</span>
				<span class="portugues">
					<p>Procuras experiências autênticas em Portugal? Nós temos a solução! Visitas guiadas, Percursos Temáticos e Personalizados, Workshops e outras actividades de lazer inspiradas na Cultura e Património Portugueses... geridas por habitantes locais!</p>
				</span>
			</div>
		</div>
	</div>
</section>

<section class="lightBG" id="tours">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="text-center">
					<h2 class="section-heading">
						<span class="english">Tours</span>
						<span class="portugues">Percursos</span>
					</h2>
				</div>
				<p class="text-faded">
					<div class="group-walk">
						<div class="inner-walk">
							<h3>Coimbra Walks</h3>
							<p>
								<span class="english">Thematic walking tours and activities, for individuals or groups, that will allow you to know – step by step – the most charming city in Portugal: Coimbra! It is possible to pick your favourite theme  tour or activity for a well-spent halfday in the city, or combine different themes in a fullday experience!</span>
								<span class="portugues">Visitas e actividades temáticas, para individuais ou grupos, que lhe permitirão conhecer – passo a passo – a mais charmosa cidade de Portugal: Coimbra! É possível escolher a sua temática preferida com duração de meio-dia, ou combinar diferentes visitas e/ou actividades numa experiência de dia-inteiro!</span>
							</p>
							<ul>
								<li>
									<span class="english">Unesco World Heritage Tour + University Tour (optional)</span>
									<span class="portugues">Património Mundial da Humanidade + Visita à Universidade (opcional)</span>
								</li>
								<li>
									<span class="english">Fado Tour + Fado Show (Optional)</span>
									<span class="portugues">Fado de Coimbra + Espetáculo de Fado (Opcional)</span>
								</li>
								<li>
									<span class="english">Gastronomic Whims – Downtown &amp; City Market</span>
									<span class="portugues">Caprichos Gastronómicos - Baixa &amp; Mercado da Cidade</span>
								</li>
								<li>
									<span class="english">Riverside and Tales of Love Tour</span>
									<span class="portugues">Beira-Rio e Lendas de Amor</span>
								</li>
								<li>
									<span class="english">Jewish Coimbra Tour</span>
									<span class="portugues">Coimbra Judaica</span>
								</li>
								<li>
									<span class="english">Moonlight &amp; Beer Experience + Brewery Tour (optional)</span>
									<span class="portugues">Coimbra ao Luar &amp; Tour da cerveja (opcional)</span>
								</li>
								<li>
									<span class="english">Treasure Hunt Experience</span>
									<span class="portugues">Caça ao Tesouro</span>
								</li>
							</ul>
						</div>
					</div>

					<div class="group-walk">
						<div class="inner-walk">
							<h3><span class="english">Tours Around Coimbra</span>
								<span class="portugues">Percursos em torno de Coimbra</span></h3>
								<p>
									<span class="english">Enjoy unique cultural moments in central Portugal. Get to know the most interesting World Heritage Sites, Castles and Palaces, Schist or Medieval Villages, Roman Sites… and much more!</span>
									<span class="portugues">Aprecie momentos culturais únicos no Centro de Portugal. Conheça os mais interessantes Sítios de Património Mundial da Humanidade, Castelos e Palácios, Aldeias de Xisto ou Vilas Medievais, Vestígios Romanos… e muito mais!</span>
								</p>
								<ul>
									<li>
										<span class="english">Conímbriga * Roman Legacy Tour</span>
										<span class="portugues">Conímbriga * Legado Romano</span>
									</li>
									<li>
										<span class="english">BUSSACO * ENCHANTED FORESTS &amp; PALACES TOUR</span>
										<span class="portugues">BUSSACO * Floresta Encantada &amp; Visita ao Palácio</span>
									</li>
									<li>
										<span class="english">Bairrada &amp; Vista Alegre * Gastronomy and Wine meets Art Tour</span>
										<span class="portugues">Bairrada &amp; Vista Alegre * Gastronomia e Vinho ao encontro com a arte</span>
									</li>
									<li>
										<span class="english">LOUSÃ * Charming Schist Villages Tour</span>
										<span class="portugues">LOUSÃ * Aldeias de Xisto</span>
									</li>
									<li>
										<span class="english">MONTEMOR * Castles and Town Walls Tour</span>
										<span class="portugues">MONTEMOR * Castelo e Muralhas</span>
									</li>
									<li>
										<span class="english">Aveiro, Barra &amp; Costa Nova * Lagoon and fishermen villages tour</span>
										<span class="portugues">Aveiro, Barra &amp; Costa Nova * Ria e vila de pescadores</span>
									</li>
									<li>
										<span class="english">PEDRO &amp; INÊS * TALES OF LOVE TOUR</span>
										<span class="portugues">PEDRO &amp; INÊS * Lendas de Amor</span>
									</li>
									<li>
										<span class="english">TOMAR, BATALHA &amp; ALCOBAÇA * World Heritage Sites Tour</span>
										<span class="portugues">TOMAR, BATALHA &amp; ALCOBAÇA * Sítios de Património Mundial no Centro de Portugal</span>
									</li>
									<li>
										<span class="english">FÁTIMA &amp; NAZARÉ * Sites of Pilgrimage &amp; Devotion Tou</span>
										<span class="portugues">FÁTIMA &amp; NAZARÉ * Peregrinação e devoção religiosa</span>
									</li>
									<li>
										<span class="english">ÓBIDOS * MEDIEVAL VILLAGE &amp; LAGOON TOUR</span>
										<span class="portugues">ÓBIDOS * Aldeia Medieval &amp; Ria</span>
									</li>
									<li>
										<span class="english">From Mondego to Tagus * Knights Templar Tour</span>
										<span class="portugues">Do Mondego ao Tejo * Cavaleiros Templários</span>
									</li>
								</ul>
							</div>
						</div>

						<div class="group-walk">
							<div class="inner-walk">
								<h3><span class="english">Tailored Tours in Portugal</span>
									<span class="portugues">Tailored Tours in Portugal</span></h3>
									<p>
										<span class="english">We are specialized in Leisure &amp; Heritage in Portuguese territory! Do not hesitate to contact us if you intend to plan your holiday or just a relaxed weekend getaway, either alone or accompanied in Portugal! We give you the best suggestions for tours and help you build a single journey through "Lusitanian Lands"</span>
										<span class="portugues">Somos especialistas em Lazer e Património no território Português! Não hesite contactar-nos se tenciona programar as suas férias ou apenas um fim-de-semana descontraído, seja sozinha/o ou acompanhada/o, em Portugal! Damos-lhe as melhores sugestões, ajudamo-lo a construir um roteiro único/tour por "Terras Lusas"</span>
									</p>
								</div>
							</div>

						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="darkBG" id="reservations">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<h2 class="section-heading">
							<span class="english">Reservations</span>
							<span class="portugues">Reservas</span>
						</h2>

						<p>
							<span class="english">To reserve a Walk, please contact us:</span>
							<span class="portugues">Para reservar um percurso, por favor contacte-nos através de:</span>
						</p>

						<h3>
							<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:booking@gowalksportugal.com"> booking@gowalksportugal.com</a>
						</h3>
						<h3>
							<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:00351910163118"> +351 910 163 118</a>
						</h3>
					</div>

					<div class="col-lg-8 col-lg-offset-2 text-center social-media">
						<ul class="list-inline banner-social-buttons">
							<li>
								<a href="https://www.facebook.com/pg/GOwalks" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
							</li>
							<li>
								<a href="https://www.instagram.com/gowalksportugal/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
							</li>
							<li>
								<a href="https://www.tripadvisor.com.br/Attraction_Review-g189143-d3326794-Reviews-GOwalksportugal-Coimbra_Coimbra_District_Central_Portugal.html" class="btn btn-default btn-lg"><i class="fa fa-tripadvisor fa-fw"></i> <span class="network-name">Tripadvisor</span></a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</section>
