<!--COVER-->
<header id="unesco-cover" class="cover-background">
	<div class="container-fluid">
		<div class="row">
			<div class="header-text">
				<h1>Património Mundial da Humanidade</h1>
                <h2 class="text-with-BG">+ Universidade de Coimbra (opção extra)</h2>
			</div>
		</div>
	</div>
</header>

<section id="unesco-info" class="tour-info">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">	
                <h2><b>Descrição:</b></h2>
                <div class="tour-description" id="unesco-descricao">
                    <p>Coimbra consta da lista de Património Mundial da Humanidade apenas desde 2013, quando tanto os seus monumentos como as suas tradições foram reconhecidos pela UNESCO (Organização das Nações Unidas para a Educação, a Ciência e a Cultura), mas este local – que também é conhecida por alguns como a “Cidade do Conhecimento” - guarda surpresas inesperadas a cada esquina seja pela beleza única dos seus edifícios, seja pela vivência estudantil que lhe confere uma aura única!</p>
                    <p>Neste percurso pedonal pelo Centro Histórico de Coimbra iremos desvendar as diversas razões desta classificação, percorrendo a Baixa e a Alta da cidade à medida que descobrimos tudo sobre a sua importância na História de Portugal e os valores materiais e imateriais do seu perímetro classificado. Esta visita, guiada por habitantes de Coimbra e antigos estudantes da mais antiga instituição do país – a Universidade de Coimbra – permitir-lhe-á apaixonar-se por esta cidade e sentir-se dentro da tradição académica num testemunho de alguém que a viveu intensamente!</p>
                    <p>Depois desta visita, saberá porque tem “Coimbra mais encanto, na hora da despedida”! </p>
                    
                    <button type="button" class="btn btn-link" onclick="readLessFunction()"><h4><b>Ler menos <i class="fa fa-caret-up" aria-hidden="true"></i></b></h4></button>
                </div>

                <div class="tour-description-lead" id="unesco-descricao">
                    <p>Coimbra consta da lista de Património Mundial da Humanidade apenas desde 2013, quando tanto os seus monumentos como as suas tradições foram reconhecidos pela UNESCO (...) </p>

                    <button type="button" class="btn btn-link" onclick="readMoreFunction()">
                        <h4><b>Ler mais <i class="fa fa-caret-down" aria-hidden="true"></i></b></h4>
                    </button>
                </div>
                <br>  

                <hr class="dark">

                <h2><b>Pontos de Interesse:</b></h2>

                <div>
                    <a class="" role="button" data-toggle="collapse" href="#unesco-poi1" aria-expanded="false" aria-controls="unesco-poi1">
                        <h3>Tour Património Mundial da Humanidade <span class="caret"></span></h3>
                    </a>
                    <div class="collapse" id="unesco-poi1">
                        <div class="text-justify">
                            <ul>
                                <li>Largo da Portagem</li>
                                <li>Casa Medieval de Coimbra</li>
                                <li>Praça do Comércio</li>
                                <li>Ruas da Baixa de Coimbra</li>
                                <li>Igreja de Santa Cruz</li>
                                <li>Rua da Sofia</li>
                                <li>Muralhas e Torres Defensivas Medievais</li>
                                <li>Pólo I da Universidade de Coimbra 
                                    <ul>
                                        <li>Chímico</li>
                                        <li>antigo Colégio de Jesus</li>
                                        <li>Largo D. Dinis</li>
                                        <li>Escadas Monumentais</li>
                                        <li>Repúblicas Estudantis</li>
                                        <li>Aqueduto de S. Sebastião</li>
                                        <li>Jardim Botânico</li>
                                        <li>Alta Modernista do Estado Novo</li>
                                        <li>Paço das Escolas</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>     

                <div>
                    <a class="" role="button" data-toggle="collapse" href="#unesco-poi2" aria-expanded="false" aria-controls="unesco-poi2">
                        <h3>Tour Universidade de Coimbra <span class="caret"></span></h3>
                    </a>
                    <div class="collapse" id="unesco-poi2">
                        <div class="text-justify">
                            <ul>
                                <li>Circuito Paço das Escolas com a sua Biblioteca Joanina</li>
                                <li>Nível 4</li>
                                <li>Prisão Académica</li>
                                <li>Capela de S. Miguel</li>
                                <li>Via Latina</li>
                                <li>Torre da Universidade</li>
                                <li>Sala dos Capelos</li>
                                <li>Sala das Armas</li>
                                <li>Sala do Exame Privado</li>
                                <li>Varandas Panorâmicas sobre o Centro Histórico de Coimbra</li>
                            </ul>
                        </div>
                    </div> 
                </div>      

			</div>
		</div>
	</div>
</section>

<section id="unesco-details" class="tour-details lightBG">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-2 col-sm-10">
                        <h3 class="text-center"><b>Todos os dias do ano, mediante reserva</b></h3>
                        <br>
                    </div>
                </div>
                <div class="row vertical-align">
                    <div class="col-xs-3 col-sm-2 text-center">
                        <p><i class="fa fa-clock-o fa-3x" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-xs-9 col-sm-10">
                        <p>10h00 às 12h00 (ou 13h00 com Universidade)<br>
                        14h00 às 16h00 (ou 17h00 com Universidade)</p>
                    </div>
                </diV>
                <div class="row vertical-align">
                    <div class="col-xs-3 col-sm-2 text-center">
                        <p><i class="fa fa-eur fa-3x" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-xs-9 col-sm-10">
                        <p>1 pessoa 25€ (ou 40€ com Universidade)<br>
                        > 2 pessoas 20€ (ou 35€ com Universidade) <br>
                        Crianças: 0 a 6 anos – grátis; 6 a 12 anos – 12,50€</p>
                    </div>
                </diV>
            </div>
        </div>
    </div>
</section>

<section id="unesco-tour-fotos" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                
                <div class="col-sm-4 tour-foto">
                    <img src="/images/Coimbra_Walks/Unesco/foto2.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 tour-foto">
                    <img src="/images/Coimbra_Walks/Unesco/foto4.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 tour-foto">
                    <img src="/images/Coimbra_Walks/Unesco/foto6.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 tour-foto">
                    <img src="/images/Coimbra_Walks/Unesco/foto7.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 tour-foto">
                    <img src="/images/Coimbra_Walks/Unesco/foto10.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 tour-foto">
                    <img src="/images/Coimbra_Walks/Unesco/foto12.jpg" class="img-responsive" alt="">
                </div>

            </div>

        </div>
    </div>
</section>

<script type="text/javascript">
    function readMoreFunction() {
        var x = document.getElementsByClassName("tour-description-lead")[0];
        x.style.display = 'none';

        var y = document.getElementsByClassName("tour-description")[0];
        y.style.display = 'block';
    }
    function readLessFunction() {
        var x = document.getElementsByClassName("tour-description-lead")[0];
        x.style.display = 'block';

        var y = document.getElementsByClassName("tour-description")[0];
        y.style.display = 'none';
    }
</script>