// Place all the styles related to the around controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#arte-cover {
	background-image: url('/images/around/arte.jpg');
	color: white;
}
#castelos-cover {
	background-image: url('/images/around/castelos.jpg');
	color: white;
}
#centro-cover {
	background-image: url('/images/around/centro.jpg');
	color: white;
}
#palacio-cover {
	background-image: url('/images/around/palacio.jpg');
	color: white;
}
#peregrinacao-cover {
	background-image: url('/images/around/peregrinacao.jpg');
	color: white;
}
#templarios-cover {
	background-image: url('/images/around/temp2.jpg');
	color: white;
}
#xisto-cover {
	background-image: url('/images/around/xisto.jpg');
	color: white;
}
#romano-cover {
	background-image: url('/images/around/romano.jpg');
	color: white;
}
#ria-cover {
	background-image: url('/images/around/ria.jpg');
	color: white;
}
#amor-cover {
	background-image: url('/images/around/amor.jpg');
	color: white;
}

@media (min-width: 767px) and (max-width: 1100px) {
	#centro-cover .header-text {
		padding: 120px 50px 0 50px;
	}
}