// Place all the styles related to the around controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#arte-cover {
	background-image: url('/images/around/arte2.jpg');
	color: white;
}
#castelos-cover {
	background-image: url('/images/around/castelos.jpg');
	color: white;
}
#centro-cover {
	background-image: url('/images/around/centro.jpg');
	color: white;
}
#palacio-cover {
	background-image: url('/images/around/palacio.jpg');
	color: white;
}
#peregrinacao-cover {
	background-image: url('/images/around/peregrinacao.jpg');
	color: white;
}
#templarios-cover {
	background-image: url('/images/around/templarios.jpg');
	color: white;
}
#xisto-cover {
	background-image: url('/images/around/xisto.jpg');
	color: white;
}



//------------------
#tour-info .img-responsive {
    //width: 100%;
    height:100%;
}