// Place all the styles related to the coimbra controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#unesco-cover {
	background-image: url('/images/coimbra/cover/unesco.jpg');
	color: white;
}
#fado-cover {
	background-image: url('/images/coimbra/cover/fado.jpg');
	color: white;
}
#gastronomic-cover {
	background-image: url('/images/coimbra/cover/gastronomic.jpg');
	color: white;
}
#jewish-cover {
	background-image: url('/images/coimbra/cover/jewish.jpg');
	color: white;
}
#moonlight-cover {
	background-image: url('/images/coimbra/cover/moonlight.jpg');
	color: white;
}
#riverside-cover {
	background-image: url('/images/coimbra/cover/riverside2.jpg');
	color: white;
}
.text-with-BG {
	background: rgba(0, 0, 0, 0.2);
}

/*Tour info*/

.tour-info h2,
.tour-info h3,
.tour-info h4,
.tour-info p{
	text-align: left;
}
.tour-optional button,
.tour-info button {
	color: #333;
	padding:0;
}
.tour-optional button:hover,
.tour-info button:hover {
	color: #f96909;
}
.tour-description,
.optional-info {
	display: none;
}
@media (min-width: 768px) {
	.tour-info h2,
	.tour-info h3,
	.tour-info h4,
	.tour-info p{
		text-align: justify;
	}
}
.tour-info #poi2 {
	padding: 10px 0px;
	line-height:10px;
}
.tour-info #poi2 p b {
	font-size: 15px;
}
.tour-info #poi2 p {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

/*Tour images*/
.no-padding{padding:0;}
.no-gutter>[class*=col-]{padding-right:0;padding-left:0}
.tour-foto{position:relative;display:block;max-width:650px;margin:0 auto}

/*Tour optional*/
.tour-optional {
	padding: 50px 0 50px 0;
}

/*Tour details*/

.tour-details .fa {
  background: #f96909;
  color: white;
  border-radius: 50%;
  height: 1.25em;
  width: 1.25em;
  line-height: 1.25;
}

.tour-details {
	color: #333;
	padding: 100px 0 100px 0;
}

.tour-details p {
	padding-bottom: 10px;
}

.tour-details h4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.tour-details .col-sm-4{
	padding: 20px 120px 30px 120px;
}
@media (max-width: 500px) {
	.tour-details .col-sm-4{
		padding: 30px 25px 0 25px;
	}
}
@media (min-width: 768px) {
	.tour-details .col-sm-4{
		padding: 0 25px 0 25px;
	}
}