// Place all the styles related to the coimbra controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#unesco-cover {
	background-image: url('/images/coimbra/cover/unesco.jpg');
	color: white;
}
#unesco-cover .text-with-BG {
	background: rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  #unesco-cover .header-text h1 {
	font-weight: 800;
	font-size: 40px;
  }
	#unesco-cover .header-text h2 {
	  font-size: 28px;
	}
}

.tour-info h2,
.tour-info h3,
.tour-info h4,
.tour-info p{
	text-align: justify;
}
.tour-info a,
.tour-info button {
	color: #333;
}
.tour-info a:link,
.tour-info a:hover, 
.tour-info a:visited, 
.tour-info a:active {
    text-decoration: none;
}
.tour-info button {
	padding:0;
}
.tour-info button:hover {
	color: #333;
}
.tour-info p {
	font-size:20px;
}
.tour-info ul {
	padding-left: 100px;
	font-size:20px;
}
.tour-info li {
	font-size:20px;
}
.tour-description {
	display: none;
}

/*Tour details*/
.tour-details p{
	font-size:18px;
}
@media (min-width: 768px) {
  .tour-details h3 {
	text-align: left;
  }
}

.no-padding{padding:0;}
.no-gutter>[class*=col-]{padding-right:0;padding-left:0}
.tour-foto{position:relative;display:block;max-width:650px;margin:0 auto}