// Place all the styles related to the general controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#partners-cover {
	background-image: url('/images/general/partners.jpg');
	color: white;
}
#faq-cover {
	background-image: url('/images/general/faq.jpg');
	color: white;
}
#team-cover {
	background-image: url('/images/general/team.jpg');
	color: white;
}
.cover-background-small {
	position: relative;
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.partner-info {
	padding-bottom: 30px;
}
.partner-info a {
	color: black;
}