// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*HEADER*/
#cover {
	background-image: url('/images/header.png');
	color: #f96909;
	}
.cover-background {
	position: relative;
	width: 100%;
	min-height: 100%;
	background-size: cover;
	background-position: center;
	text-align: center;
	}
header .header-text {
	position: relative;
	text-align: center;
	padding: 120px 30px 100px 30px;
	width: 100%;
}
header .header-text h1 {
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 48px;
}
header .header-text p {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin-bottom: 50px;
  color: #7a4407;
  background: rgba(255, 255, 255, 0.6);
}
@media (min-width: 768px) {
  header .header-text {
	padding: 200px 100px 200px 100px;
  }

  header .header-text h1 {
	font-weight: 800;
	font-size: 80px;
}

	header .header-text p {
	  font-weight: 500;
	  font-size: 24px;
	}
}

/*Tours*/
/*
#tours_intro {
	padding-top: 70px;
	padding-bottom: 0px;
}
#tours {
	//padding-bottom: 10px;
}

#tours .image-box h4 {
	font-size:24px;
	padding-top: 20px;
}

.no-padding{padding:0;}
.no-gutter>[class*=col-]{padding-right:0;padding-left:0}

.image-box {
	//padding-bottom: 30px;
}

.image-box .image-box-caption{-webkit-transition:all .35s;-moz-transition:all .35s}

.image-box{position:relative;display:block;max-width:650px;margin:0 auto}

.image-box .image-box-caption{
	color:#fff;opacity:0;display:block;background: rgba(249,105,9,.9);position:absolute;bottom:0;text-align:center;width:100%;height:100%;transition:all .35s
}

.image-box .image-box-caption .image-box-caption-content{
	width:100%;
	text-align:center;
	position:absolute;
	top:50%;
	transform:translateY(-50%)
}
.image-box .image-box-caption .image-box-caption-content .project-name{
	//padding:0 15px;
	font-size:18px;
	font-weight: bold;
	padding-bottom: 10px;
}
.image-box:hover .image-box-caption,
.image-box-after-text:active {
	opacity:1
}
.image-box:focus{
	outline:0
}
@media (min-width:768px){
	.image-box .image-box-caption .image-box-caption-content .project-name{
		font-size:22px
	}
}

.image-box,
.image-box:hover,
.image-box:active {
    text-decoration: none;
	color: #333;
	font-size:16px	
}
.image-box-after-text{
	//border-top: .2em solid #7a4407;
	padding-left: 15px;
	padding-right: 5px;
}*/

/*TOUR*/
#coimbra-tour {
	background-image: url('/images/index/cbr_2.JPG');
}
#around-coimbra-tour {
	background-image: url('/images/index/around2.jpg');
}
#tailored-tour {
	background-image: url('/images/index/nazare.jpg');
}
#coimbra-tour .cover-text{
	position: absolute;
	color: #333;
	width: 50%;
	right: 50px;
}
#around-coimbra-tour .cover-text{
	position: absolute;
	width: 50%;
	left: 50px;
	color: white;
	background: rgba(0, 0, 0, 0.6);
}
#tailored-tour .cover-text{
	position: absolute;
	color: #333;
	width: 50%;
	right: 50px;
}

.cover-tour h1 {
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 48px;
}
.cover-tour p {
  font-weight: 500;
  //color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin-bottom: 50px;
  //background: rgba(255, 255, 255, 0.6);
}

/*CONTACTS*/
#reservations h3 {
	font-size:20px;
	-ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

#reservations h3 a{
	color: white;
}

.social-media {
	margin-top: 50px;
}

.social-link {text-align:center;margin-bottom:25px; }

@media (min-width:768px){
	#reservations h3{
		font-size:24px
	}
}

@media only screen and (max-width: 382px) and (orientation:portrait) {
	#reservations h3{
		font-size:16px
	}
}