// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*HEADER*/
#cover {
	background-image: url('/images/header.png');
	color: #f96909;
	}
.cover-background {
	position: relative;
	width: 100%;
	min-height: 100%;
	background-size: cover;
	background-position: center;
	text-align: center;
	}
header .header-text {
	position: relative;
	text-align: center;
	padding: 120px 30px 100px 30px;
	width: 100%;
}
header .header-text h1 {
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 48px;
}
header .header-text p {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin-bottom: 50px;
  color: #7a4407;
  background: rgba(255, 255, 255, 0.6);
}
@media (max-width: 370px) {
  header .header-text {
  	padding-left: 0px;
  	padding-right: 0px;
  }

  header .header-text h1 {
	font-size: 32px;
  }

  header .header-text p {
	  font-size: 20px;
	}
}
@media (min-width: 768px) {
  header .header-text {
	padding: 200px 100px 200px 100px;
  }

  header .header-text h1 {
	font-weight: 800;
	font-size: 80px;
  }

  header .header-text p {
	  font-weight: 500;
	  font-size: 24px;
	}
}

/*ABOUT*/
#about .page-scroll{
	color: #b24c07;
}
#about .page-scroll:hover{
	color: #e26e1f;
}

/*TOUR*/
#coimbra-tour {
	background-image: url('/images/index/coimbra.jpg');
}
#around-coimbra-tour {
	background-image: url('/images/index/around.jpg');
}
#tailored-tour {
	background-image: url('/images/index/tailored.jpg');
}

#coimbra-tour .cover-text,
#around-coimbra-tour .cover-text,
#tailored-tour .cover-text{

}
#coimbra-tour .cover-text{
	color: #333;
}
#around-coimbra-tour .cover-text{
	color: white;
	background: rgba(0, 0, 0, 0.6);
	padding-top: 20px;
	padding-bottom: 20px;
}
#tailored-tour .cover-text{
	color: #333;
	background: rgba(255, 255, 255, 0.5);
	padding-top: 20px;
	padding-bottom: 20px;
}

.cover-tour h1 {
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 32px;
}
.cover-tour p {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
	#coimbra-tour .cover-text{
		position: absolute;
		width: 50%;
		right: 50px;
	}
	#around-coimbra-tour .cover-text{
		position: absolute;
		width: 50%;
		left: 50px;
	}
	#tailored-tour .cover-text{
		position: absolute;
		width: 50%;
		right: 50px;
	}

	.cover-tour h1 {
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 48px;
	}
	.cover-tour p {
	  font-size: 20px;
	  margin-bottom: 50px;
	}
}