// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*HEADER*/
#cover {
	background-image: url('/images/header.png');
	color: #f96909;
	}
.cover-background {
	position: relative;
	width: 100%;
	min-height: 100%;
	background-size: cover;
	background-position: center;
	text-align: center;
	}
header .header-text {
	position: relative;
	text-align: center;
	padding: 120px 30px 0 30px;
	width: 100%;
}
header .header-text h1 {
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 30px;
}
header .header-text h3 {
  color: rgba(255, 255, 255, 0.8);
  color: #7a4407;
  background: rgba(255, 255, 255, 0.6);
}
@media (max-width: 370px) {
  header .header-text {
  	padding-left: 0px;
  	padding-right: 0px;
  }
}
@media (min-width: 767px) {
  header .header-text {
	padding: 150px 150px 0 150px;
  }
}

/*TOUR*/
#coimbra-tour {
	background-image: url('/images/index/coimbra.jpg');
}
#around-coimbra-tour {
	background-image: url('/images/index/around.jpg');
}
#tailored-tour {
	background-image: url('/images/index/tailored.jpg');
}

#coimbra-tour .cover-tour,
#around-coimbra-tour .cover-tour,
#tailored-tour .cover-tour {
	color: white;
}
.transparent-layer {
	background: rgba(0, 0, 0, 0.1);
	width:100%;
	min-height: 100%;
	position: absolute;
    top: 0;
    left: 0;
}
#around-coimbra-tour .transparent-layer{
	background: rgba(0, 0, 0, 0.3);
}

.cover-tour h2 {
	text-transform: uppercase;
	padding-top: 100px;
	margin-top: 0;
	margin-bottom: 30px;
}
.cover-tour .btn {
	margin-top: 25px;
}
.arrow {
	position: absolute;
	width: 100%;
	bottom:0;
}
@media (min-width: 768px) {
	#coimbra-tour .cover-text{
		position: absolute;
		width: 50%;
		right: 65px;
	}
	#around-coimbra-tour .cover-text{
		position: absolute;
		width: 50%;
		left: 65px;
	}
	#tailored-tour .cover-text{
		position: absolute;
		width: 50%;
		right: 65px;
	}
	.cover-tour h1 {
		margin-top: 0;
		margin-bottom: 30px;
	}

}