// Place all the styles related to the tour controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#coimbra_cover {
	background-image: url('/images/index/coimbra.jpg');
	color: white;
  //text-shadow: -1px 0 #ff8535, 0 1px #ff8535, 1px 0 #ff8535, 0 -1px #ff8535;
}
#around_cover {
  background-image: url('/images/index/around.jpg');
  color: white;
  //text-shadow: -1px 0 #ff8535, 0 1px #ff8535, 1px 0 #ff8535, 0 -1px #ff8535;
}
#tailored_cover {
  background-image: url('/images/index/tailored.jpg');
  color: white;
  //text-shadow: -1px 0 #ff8535, 0 1px #ff8535, 1px 0 #ff8535, 0 -1px #ff8535;
}
#coimbra_cover .transparent-layer{
  //background: rgba(255, 255, 255, 0.1);
}
#around_cover .transparent-layer{
  background: rgba(0, 0, 0, 0.3);
}
.transparent-layer .header-text p{
  color: white;
  background: rgba(0, 0, 0, 0);
  font-weight: 500;
  font-sixe: 32px;
  //text-shadow: -1px 0 #ff8535, 0 1px #ff8535, 1px 0 #ff8535, 0 -1px #ff8535;
}
@media (max-width: 420px) {
  #tailored_cover  .header-text {
    padding-top: 150px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #tailored_cover  .header-text h1 {
  font-size: 32px;
  }

  #tailored_cover .header-text p {
    font-size: 18px;
  }
}
#around_cover .header-text,
#tailored_cover .header-text {
  padding-top: 150px;
}
@media (min-width: 420px ) and (max-width: 500px) {
  #tailored_cover .header-text {
    padding-top: 150px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #tailored_cover .header-text h1 {
    font-size: 42px;
  }

  #tailored_cover .header-text p {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 950px) {
  #tailored_cover .header-text {
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
  }

  #tailored_cover .header-text h1 {
    font-size: 60px;
  }

  #tailored_cover .header-text p {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  #around_cover .header-text h1 {
    font-size: 60px;
  }
}

.tour-item-wrapper{
	padding: 25px;	
}
.photo-item {
	text-align: center;
	overflow: hidden;
	//padding-bottom: 20px;
}
.tour-image {
	opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  width:100%;
	height:100%;
}

.photo-item img {
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	transition: all 500ms;
}

.photo-item:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.overlay-info {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.tour-item:hover .tour-image {
  opacity: 0.6;
}

.tour-item:hover .overlay-info {
  opacity: 1;
}

.description{  
	text-align: left;
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:45px; /* position will be on bottom */  
    background-color:black;  
    font-size:15px;  
    color:white;  
    opacity:0.6; /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */
    padding: 0px 15px 0px 15px;
    margin-right: 60px;
} 
.description p{ 
	padding: 0px;
	margin: 5px 0 5px 0;
} 
