// Place all the styles related to the tour controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#coimbra_cover {
	background-image: url('/images/index/coimbra.jpg');
	color: white;
}
#around_cover {
  background-image: url('/images/index/around.jpg');
  color: white;
}
#tailored_cover {
  background-image: url('/images/index/tailored.jpg');
  color: white;
}
#around_cover .transparent-layer{
  background: rgba(0, 0, 0, 0.3);
}
.transparent-layer .header-text h3{
  color: white;
  background: rgba(0, 0, 0, 0);
}

/*AROUND*/
#around_cover .header-text{
  padding: 60px 5px 0 5px;
}
#around_cover .header-text h1{
  margin-bottom: 5px;
}
#around_cover .header-text hr{
  padding-top: 0px;
}
@media (min-width: 677px) {
  #around_cover .header-text{
    padding: 150px 5px 0 5px;
  }
}
@media (min-width: 1000px) {
  #around_cover .header-text{
    padding: 150px 100px 0 100px;
  }
}

/*TAILORED*/
#tailored_cover .header-text {
  padding-top: 150px;
}
@media (max-width: 570px) {
  #tailored_cover .header-text {
    padding: 60px 5px 0 5px;
  }
}
@media (min-width: 768px) and (max-width: 950px) {
  #tailored_cover .header-text {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.tour-item-wrapper{
	padding: 25px;	
}
.photo-item {
	text-align: center;
	overflow: hidden;
}
.tour-image {
	opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  width:100%;
	height:100%;
}

.photo-item img {
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	transition: all 500ms;
}

.photo-item:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.overlay-info {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.tour-item:hover .tour-image {
  opacity: 0.6;
}

.tour-item:hover .overlay-info {
  opacity: 1;
}

.description{  
	text-align: left;
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:45px; /* position will be on bottom */  
    background-color:black;  
    font-size:15px;  
    color:white;  
    opacity:0.6; /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */
    padding: 0px 15px 0px 15px;
    margin-right: 60px;
} 
.description h3{ 
	padding: 0px;
	margin: 5px 0 5px 0;
} 