<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:site_name" content="Go Walks Portugal"/>
    <meta property="og:title" content="Walk alongside us."/>
    <meta property="og:description" content="Walking tours around Portugal with a local."/>
    <meta property="og:image" content="images/gowalks.png">
    <meta property="og:url" content="http://gowalksportugal.com/">
    <meta property="og:type" content="site"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <title>Go Walks Portugal</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body id="index" data-spy="scroll" data-target="#navigationbar" data-offset="50">

<%= yield %>

</body>
</html>
